h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body,
html {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--NeueMachina), sans-serif;
  height: 100dvh;
  max-height: 100dvh;
  margin: 0;
  padding: 0;
  transition: 0.2s ease;
  position: relative;
  overflow-x: hidden;

  background: #292929;
}
