.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
}

.filters {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tokensFilter {
  width: 300px;
}
