.tableHead {
  border-top: 1px solid #565656;

  & th {
    padding-block: 2px;
  }
}

td.tableCell {
  padding-block: 20px;
}

.firstColumn {
  position: sticky;
  left: 0;
  z-index: 10;
  background-color: #121212;
}

div.pagination {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.perPageContainer {
  position: absolute;
  right: 0;

  display: flex;
  align-items: center;
  gap: 12px;
}

button.perPageButton {
  padding: 5px;
  color: #919191;

  &.activePerPage {
    color: #fff;
  }
}

.rowPlaceholderContainer {
  border-bottom: 1px solid #565656;
}
