.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #e0e0e0;

  padding: 10px;
  border-radius: 20px;
}

.badge {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
