.card {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: 20px 16px;
  border-radius: 16px;

  max-width: 300px;
  width: 100%;

  background: #292929;
}

.badge {
  background-color: #585454;
}

.badges {
  position: absolute;
  right: 8px;
  top: 0;

  transform: translateY(-50%);

  border-radius: 4px;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;

  margin-top: 12px;
}

.cardsContainer {
  display: grid;
  padding: 10px 0;

  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}
