$border-radius: 50%;

.container {
  padding-left: 7px;
}

.image {
  border-radius: 50%;
}

.logosContainer {
  position: relative;
}

.firstImage {
  position: absolute;
  top: 0;
  left: 0;

  border-radius: $border-radius;
  z-index: 1;
}

.secondImage {
  position: absolute;
  top: -21%;
  left: -67%;

  transform: translateX(50%);

  border-radius: $border-radius;
  z-index: 0;
}
